@use './styles/colors';
@use './styles/mixins';

body {
    margin: 0;
    padding: 0;
}

#carousel {
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: colors.$dark;
    overflow: hidden;

    .img-nav-button {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 3em;
        height: 2em;

        &#nav-left {
            left: 3em;

            &::before {
                @include mixins.before-after;
                border-left: none;
                left: -1.2em;
            }

            &:hover {
                &::before {
                    border-right-color: colors.$dark;
                }
            }
        }

        &#nav-right {
            right: 3em;

            &::after {
                @include mixins.before-after;
                border-right: none;
                right: -1.2em;
            }

            &:hover {
                &::after {
                    border-left-color: colors.$dark;
                }
            }
        }
    }

    #imgs-container {
        height: 100%;
        width: 100%;
        display: flex;

        .slideDiv {
            display: flex;
            height: 100%;
            width: 100%;
            justify-content: center;
            align-items: center;

            .slide {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: none;

                &.visible {
                    display: block;
                    animation: right2left 1s forwards;
                }
            }
        }
    }

    .bottomnavbar {
        position: fixed;
        bottom: 4em;
        left: 50%;
        transform: translate(-50%);
        width: fit-content;
        height: 2em;
        display: flex;

        .slideDiv {
            height: 100%;

            .navslide {
                height: 100%;
                box-shadow: 0 0 0 0.12em colors.$light;
                border-radius: 50%;
                margin: 0.4em;
                transition: all 150ms;
                opacity: 0.9;

                &:hover {
                    transform: scale(1.2);
                }

                &.nav-visible {
                    transform: translate(0, -0.75em);
                }
            }
        }
    }
}

// Animations

@keyframes right2left {
    0% {
        //left: -100%;
        opacity: 0;
    }
// keep it a simple fade in for now. i'll add more animations in the future inshaaAllah.
    100% {
        //    left: 50%;
        opacity: 1;
    }
}
